.flightResults__wrapper {
    display: flex;
    padding-block: 2.25rem;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    animation: fade-in 500ms forwards;
}

.flightResults__sort-button {
    margin-left: auto;
    padding: 1rem;
    width: fit-content;
}

.flightResults__sort-button--ascending {
    transform: rotate(180deg);
}

.flightResults__sort-button--descending {
    transform: rotate(0deg);
}